* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.chat-container, .chat-window, .input-window input, .user, .not-user, .min-settings, .settings {
  border: 1px black solid;
  border-radius: 1em;
}

.chat-container {
  height: 80vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-window, .input-window {
  margin-bottom: 2%;
}

.chat-window {
  margin-top: 1%;
  height: 75%;
  width: 90%;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.input-window {
  height: 10%;
  width: 90%;
}

.input-window input {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
}

.text:last-child {
  scroll-snap-align: end;
}

.text {
  width: 100%;
  margin: 0;
  min-height: 2em;
  line-height: 2em;
}

.user, .not-user {
  width: 45%;
  min-height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  overflow-wrap: normal;
}

.user {
  margin: 2% 2% 2% auto;
}

.not-user {
  margin: 2% 2% auto 2%;
}

.min-settings {
  position: fixed;
  padding: 10px;
  top: 1vh;
  left: 1vw;
}

.settings {
  position: fixed;
  height: 80vh;
  width: 80vw;
  top: 10vh;
  left: 10vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings label, .settings input, .settings button, .modes {
  margin: 1%;
  width: 50%;
}

.modes {
  margin: 5%;
}

.modes input {
  width: 10%;
}

h1 {
  margin-top: 1%;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 1%;
}